In [1]:
###Que les 3 caracterisqtues

In [2]:
import pandas as pd
import os
import glob
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.feature_selection import RFE
from sklearn.linear_model import LinearRegression
import statsmodels.api as s

In [3]:
header_list = ["id_mutation",'date_mutation','numero_disposition','nature_mutation','valeur_fonciere','adresse_numero','adresse_suffixe','adresse_nom_voie','adresse_code_voie','code_postal','code_commune','nom_commune','code_departement','ancien_code_commune','ancien_nom_commune','id_parcelle','ancien_id_parcelle','numero_volume','lot1_numero','lot1_surface_carrez','lot2_numero','lot2_surface_carrez','lot3_numero','lot3_surface_carrez','lot4_numero','lot4_surface_carrez','lot5_numero','lot5_surface_carrez','nombre_lots','code_type_local','type_local','surface_reelle_bati','nombre_pieces_principales','code_nature_culture','nature_culture','code_nature_culture_speciale','nature_culture_speciale','surface_terrain','longitude','latitude','section_prefixe']

In [4]:
#On liste tous les fichiers csv qu'on a
csv_files = glob.glob('*.{}'.format('csv'))

In [5]:
df_concat = pd.concat([pd.read_csv(f,sep = ';' ,names=header_list) for f in csv_files ], ignore_index=True)

In [6]:
df_concat.drop(df_concat[df_concat['valeur_fonciere'] =='valeur_fonciere'].index, inplace = True)

In [7]:
List2 = ['id_mutation','date_mutation','numero_disposition','nature_mutation','code_commune','nom_commune','code_departement','id_parcelle','nombre_lots','section_prefixe']
List = ['longitude','latitude','adresse_numero','adresse_suffixe','adresse_nom_voie','adresse_code_voie','code_postal','ancien_code_commune','ancien_nom_commune','ancien_id_parcelle','numero_volume','lot1_surface_carrez','lot1_numero','lot2_numero','lot2_surface_carrez','lot3_surface_carrez','lot3_numero','lot4_numero','lot4_surface_carrez','lot5_numero','lot5_surface_carrez','code_type_local','type_local','code_nature_culture','nature_culture','code_nature_culture_speciale','nature_culture_speciale']
List.append(List2)
for i in List:
    df_concat.drop(i, inplace=True, axis=1)

In [8]:
df_concat

,valeur_fonciere,surface_reelle_bati,nombre_pieces_principales,surface_terrain
1,260000.0,129.0,4.0,351.0
2,260000.0,NaN,0.0,351.0
3,160000.0,64.0,4.0,452.0
4,174000.0,64.0,4.0,498.0
5,174000.0,NaN,0.0,498.0
...,...,...,...,...
3001,56460.0,11002.0,0.0,29103.0
3002,1000000.0,87.0,3.0,3973.0
3003,1000000.0,1048.0,0.0,3973.0
3004,165600.0,NaN,NaN,1465.0
3005,665000.0,600.0,0.0,2112.0

In [9]:
df_concat=df_concat.dropna()

In [10]:
df_concat

,valeur_fonciere,surface_reelle_bati,nombre_pieces_principales,surface_terrain
1,260000.0,129.0,4.0,351.0
3,160000.0,64.0,4.0,452.0
4,174000.0,64.0,4.0,498.0
6,200000.0,18.0,1.0,105.0
7,200000.0,68.0,0.0,105.0
...,...,...,...,...
3000,56460.0,919.0,0.0,29103.0
3001,56460.0,11002.0,0.0,29103.0
3002,1000000.0,87.0,3.0,3973.0
3003,1000000.0,1048.0,0.0,3973.0
3005,665000.0,600.0,0.0,2112.0

In [11]:
Q1 = pd.to_numeric(df_concat['surface_reelle_bati']).quantile(0.25)
Q3 = pd.to_numeric(df_concat['surface_reelle_bati']).quantile(0.75)
IQR = Q3 - Q1
df_concat = df_concat[(pd.to_numeric(df_concat['surface_reelle_bati']) >= Q1 - 1.5*IQR) & (pd.to_numeric(df_concat['surface_reelle_bati']) <= Q3 + 1.5*IQR)]

In [12]:
Q1 = pd.to_numeric(df_concat['surface_terrain']).quantile(0.25)
Q3 = pd.to_numeric(df_concat['surface_terrain']).quantile(0.75)
IQR = Q3 - Q1
df_concat = df_concat[(pd.to_numeric(df_concat['surface_terrain']) >= Q1 - 1.5*IQR) & (pd.to_numeric(df_concat['surface_terrain']) <= Q3 + 1.5*IQR)]

In [13]:
Q1 = pd.to_numeric(df_concat['valeur_fonciere']).quantile(0.25)
Q3 = pd.to_numeric(df_concat['valeur_fonciere']).quantile(0.75)
IQR = Q3 - Q1
df_concat = df_concat[(pd.to_numeric(df_concat['valeur_fonciere']) >= Q1 - 1.5*IQR) & (pd.to_numeric(df_concat['valeur_fonciere']) <= Q3 + 1.5*IQR)]

In [14]:
Q1 = pd.to_numeric(df_concat['nombre_pieces_principales']).quantile(0.25)
Q3 = pd.to_numeric(df_concat['nombre_pieces_principales']).quantile(0.75)
IQR = Q3 - Q1
df_concat = df_concat[(pd.to_numeric(df_concat['nombre_pieces_principales']) >= Q1 - 1.5*IQR) & (pd.to_numeric(df_concat['nombre_pieces_principales']) <= Q3 + 1.5*IQR)]

In [15]:
df_concat

,valeur_fonciere,surface_reelle_bati,nombre_pieces_principales,surface_terrain
1,260000.0,129.0,4.0,351.0
3,160000.0,64.0,4.0,452.0
4,174000.0,64.0,4.0,498.0
6,200000.0,18.0,1.0,105.0
7,200000.0,68.0,0.0,105.0
...,...,...,...,...
2978,158500.0,97.0,5.0,406.0
2981,145000.0,74.0,5.0,374.0
2982,262500.0,102.0,5.0,434.0
2983,130000.0,64.0,4.0,369.0
2984,189300.0,80.0,4.0,354.0

In [16]:
np.random.seed(0)
df_train, df_test = train_test_split(df_concat, train_size = 0.7, test_size = 0.3, random_state = 100)

In [17]:
scaler = MinMaxScaler()

df_train = scaler.fit_transform(df_train)
df_test = scaler.fit_transform(df_test)

In [18]:
np.random.seed(0)
df_train, df_test = train_test_split(df_concat, train_size = 0.7, test_size = 0.3, random_state = 100)

In [19]:
### diviser les donnÃ©es 
y_train = df_train.pop('valeur_fonciere')
X_train = df_train

In [20]:
lm = LinearRegression()
lm.fit(X_train, y_train)

LinearRegression()

In [21]:
y_test = df_test.pop('valeur_fonciere')
X_test = df_test

In [22]:
y_pred = lm.predict(X_test)

In [23]:
from sklearn.metrics import r2_score 
r2_score(y_test, y_pred)

0.23670948358875055